header nav>ul {
    /* float - 부모 */
    overflow: hidden;
}

header .tn {
    /* 자식들의 기준점 */
    position: relative;
    /* 자식 기준이라면 높이도 세트로 나타나야함 */
    height: 60px;
}

header .nav1-wrap {
    height: 60px;
}

header .tn .log {
    /* 로그인 오른쪽 고정 */
    position: absolute;
    top: 0px;
    right: 0;
}

header .log li {
    /* 로그인 정렬 */
    display: inline-block;
    text-align: center;
    margin: 20px;
}

header .log a {
    /* 로그인 폰트 세팅 */
    font-size: var(--font4);
    font-weight: bolder;
}

header .bn .nav2-wrap {
    /* 네비바 구역 색상 */
    width: 100%;
    height: 50px;
    background-color: var(--color_yellow_2);
}

header .nav2-wrap .nav-body {
    /* 네비바 위치 */
    width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
}

header .nav a {
    /* 네비 요소 구역 */
    overflow: hidden;
    font-size: var(--font3);
}

header .nav>li {
    /* 네비 왼쪽 정렬 */
    width: 20%;
    float: left;
    text-align: center;
    line-height: 50px;
}

/* #nav > li > ul{ */
header .nav .hv-con {
    /*ul의 높이를 안보이게 처리*/
    height: 0px;
    overflow: hidden;
}

header .nav li:hover {
    background-color: var(--color_yellow_1);
    transition-duration: 0.5s;
}

header .nav li .hv-con li:hover,
header .nav li a:hover {
    text-align: center;
    font-weight: bolder;
}

header .nav li:hover .hv-con {
    height: 150px;
    transition-duration: 1s;
}

header .hv {
    z-index: 9999;
}